<!doctype html>
<html><head>
<title>{{ date }}</title>
<link rel="stylesheet" type="text/css" media="all" href="/a/960-full.css">
<style>
#desc, .desc { width: 100%; white-space: pre-wrap; text-align: left; font: 13px Verdana, sans-serif; font-weight: normal; }
.author { font-style: italic; color: #39639d; }
textarea#desc { height: 150px; }
img.next, img.prev { width: 100px; border: 0; }
input:focus, textarea:focus { border: 2px solid #c0504d; }
li { margin-left: 18px;}
.warning { background-color: #c0504d; color: white; margin: 5px 0; padding: 5px; }
.thanks { background-color: #182; color: white; margin: 5px 0; padding: 5px; }
.login, .untyped { font-weight: bold; font-size: 125%; margin-bottom: 10px; }
</style>
</head><body>
<div class="container_16">
    <div class="grid_13">
        {% if thanks %}<div class="thanks"><b>Thank you</b>. Here's the next one.</div>{% endif %}
        <img src="{{ img_date }}">
        {% if few_words %}<div class="warning alpha grid_9">
            You appear to have typed just {{ few_words }} words describing this strip.<br>
            Please help us by typing in the <b>full text</b> of the comic strip.<br>
            That is, write <b>every word</b> that appears in the comic above.<br>
            Thank you for your help!
        </div><div class="clear">&nbsp;</div>{% endif %}
        {% if user %}
        <form action="" method="POST">
            <input id="date" name="date" type="hidden" value="{{ date }}">
            <div class="alpha grid_9">
                <textarea id="desc" name="desc">{{ desc }}</textarea>
                <br><input type="submit" value="Submit">
            </div>
            <div class="omega grid_4"><ul>
                <li>Type <b>every word</b> in the comic
                <li>Mention who said it. E.g<br><code>Pointy haired boss: Well, it could be worse</code>
                    <br>Check against the <a href="http://www.unitedmedia.com/comics/dilbert/the_characters/html/character2.html">list of characters</a> (<a href="http://en.wikipedia.org/wiki/List_of_minor_characters_in_Dilbert">more</a>).
                <li>DON'T TYPE IN CAPS
                <li>Check the spelling
            </ul></div>
        </form>
        <div class="clear">&nbsp;</div>
        <script>document.getElementById("desc").focus()</script>
        {% else %}
            <pre id="desc">{{ desc }}</pre>
        {% endif %}
        <i>{{ author.nickname }}</i>
        <br><br>
        <a href="{{ prev }}">&laquo; Prev <img class="next" src="{{ img_prev }}"></a>
        <a href="{{ next }}"><img class="next" src="{{ img_next }}"> Next &raquo;</a>
        {% if past %}
            <hr><h4>Earlier versions</h4>
            {% for item in past %}
                <div class="desc">{{ item.desc }}</div>
                <span class="author">{{ item.user.nickname}} at {{ item.time.day }}-{{ item.time.month }}-{{ item.time.year }} {{ item.time.hour }}:{{ item.time.minute }}</span>
                <hr>
            {% endfor %}
        {% endif %}
    </div>
    <div id="side_block" class="grid_3 block">
        <p>If you'd like to search for Dilbert strips, you can help by typing in the strips here.</p>
        {% if user %}
            <div class="untyped"><a href="{{ unused }}">Find comic to type</a></div>
            <div class="export"><a href="export">Export the text as JSON</a></div>
            <div class="logout"><a href="/logout/{{ date }}">Logout</a></div>
        {% else %}
            <div class="login"><a href="/login/{{ date }}">Login</a></div>
            <div class="export"><a href="export">Export the text as JSON</a></div>
        {% endif %}
        <br><br><b>Top authors</b>
        <ul>
        {% for user in users %}
            <li>{{ user.user.nickname }} ({{ user.num }})
        {% endfor %}
        </ul>
        Thanks to <a href="http://www.geek.nl/">geek.nl</a> and <a href="http://dribibu.xs4all.nl">dribibu.xs4all.nl</a>
    </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">try { var pageTracker = _gat._getTracker("UA-7269228-1"); pageTracker._trackPageview(); } catch(err) {}</script>
</body></html>
